[Unit]
Description=Writes to a file your approximate location (needs internet connection)
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/geolocate >> /usr/share/geolocate/.location

[Install]
WantedBy=multi-use1r.target
