[Unit]
Description=Writes to a file your approximate location (needs internet connection)
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
RestartSec=1800s
ExecStart=/usr/bin/geolocate print

[Install]
WantedBy=multi-user.target
