[Unit]
Description=Writes to a file your approximate location (needs internet connection)
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/geolocate >> ~/.location

[Install]
WantedBy=multi-user.target
